#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp Q  &kp W  &kp F       &kp P      &kp B        &kp J      &kp L            &kp U       &kp Y    &kp SQT
&kp A  &kp R  &kp S       &kp T      &kp G        &kp M      &kp N            &kp E       &kp I    &kp O
&kp Z  &kp X  &kp C       &kp D      &kp V        &kp K      &kp H            &kp COMMA   &kp DOT  &kp FSLH
              &kp ESCAPE  &kp SPACE  &kp LSHFT    &kp ENTER  &lt 1 BACKSPACE  &kp DELETE
            >;
        };

        Number {
            bindings = <
&trans  &kp N7  &kp N8  &kp N9  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &kp N4  &kp N5  &kp N6  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &kp N1  &kp N2  &kp N3  &trans    &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        Navigation {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans    &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT
&trans  &trans  &trans  &trans  &trans    &trans  &trans    &trans    &trans  &trans
                &trans  &trans  &trans    &trans  &trans    &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
